@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<p>Adding identity to an existing project, use the following <base href="/" />
        https://learn.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-8.0&tabs=visual-studio#razor-pages-and-mvc-identity-scaffolding
    </p>
</div>
